<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Climate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script defer src="{{ url_for('static', filename='js/climate.js') }}"></script>
</head>
<body>

  <header style="text-align: center; padding: 1em; background-color: #2c3e50; color: white;">
    <h1>Climate Indicators</h1>
  </header>
  <nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('trends') }}">Disasters Over the Years</a>
    <a href="{{ url_for('climate') }}">Climate Indicators Over years</a>
    <a href="{{ url_for('map') }}">Disaster type of each Country Over years </a>
    <a href="{{ url_for('bar') }}">Deaths Events & Damages</a>
    <a href="{{ url_for('pie') }}">Disaster distribution</a>
    <a href="{{ url_for('stacked') }}">Heat Map</a>
    <!--<a href="{{ url_for('scatterplot') }}">ScatterPlot for events</a>-->
    <a href="{{ url_for('race') }}">country wise events over years</a>
    <a href="{{ url_for('treemap') }}">Event occurence for country on year</a>
    <a href="{{ url_for('severity') }}">Disaster type over years</a>
  </nav>

  <main style="max-width: 1100px; margin: 2em auto;">
    <div id="climate-timeline" style="margin: 2em auto; max-width: 1000px;"></div>
</main>

  <footer style="text-align: center; padding: 1em; background: #2c3e50; color: white;">
    &copy; 2025 Global Disaster Insights
  </footer>

</body>
</html>
