<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Disaster Events Bar Chart Race</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/race.css') }}">
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

  <header>
    <h1>🌍 Bar Chart Race: Disaster Events by Country Over Time</h1>
  </header>

  <nav>

    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('trends') }}">Disasters Over the Years</a>
    <a href="{{ url_for('climate') }}">Climate Indicators Over years</a>
    <a href="{{ url_for('map') }}">Disaster type of each Country Over years </a>
    <a href="{{ url_for('bar') }}">Deaths Events & Damages</a>
    <a href="{{ url_for('pie') }}">Disaster distribution</a>
    <a href="{{ url_for('stacked') }}">Heat Map</a>
  <!--  <a href="{{ url_for('scatterplot') }}">ScatterPlot for events</a>-->
    <a href="{{ url_for('race') }}">country wise events over years</a>
    <a href="{{ url_for('treemap') }}">Event occurence for country on year</a>
    <a href="{{ url_for('severity') }}">Disaster type over years</a>



  </nav>

  <main>

    <select id="disaster-type"></select>
    <button id="toggle-animation">Start</button>
    <div id="bar-race"></div>


    </div>

    <div id="bar-race"></div>
  </main>

  <footer>
    &copy; 2025 Global Disaster Insights
  </footer>

  <!--<script src="race.js"></script>-->
  <script defer src="{{ url_for('static', filename='js/race.js') }}"></script>
</body>
</html>
